<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Fragments</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body id="top">
    <nav>
      <ul id="nav">
        <li class="t-cuisines"><a class="active" href="#01">Cuisines</a></li>
        <li class="t-chefs"><a href="#02">Chefs</a></li>
        <li class="t-reviews"><a href="#03">Reviews</a></li>
        <li class="t-delivery"><a href="#04">Delivery</a></li>
      </ul>
    </nav>
    <div id="01">Cuisines</div>
    <div id="02">Chefs</div>
    <div id="03">Reviews</div>
    <div id="04">Delivery <a href="#top">Back to top</a></div>
    <script src="scripts.js"></script>
  </body>
</html>
